<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Not Found!</title>
    <link rel="icon" href="/icons/favicon.svg">
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <main>
        <div class="page-container">
            <div class="category-title">
                <h3>404 - Page not found!</h3>
            </div>
            <a class="error" href="/">Click here to return to the home page</a>
        </div>
    </main>
    <%- include("./partials/footer.ejs") %>
</body>
</html>